---
- name: Test
  gather_facts: false
  hosts: webservers
  vars:
    ansible_ssh_user: user
  become: true

  pre_tasks:
    - name: Validating the ssh port is open and
      ansible.builtin.wait_for:
        host: "{{ (ansible_ssh_host|default(ansible_host))|default(inventory_hostname) }}"
        port: 22
        delay: 5
        timeout: 300
        state: started
        search_regex: OpenSSH

  tasks:
    - name: Create test file
      ansible.builtin.command:
        dest: /tmp/test
        content: "success"
        mode: "0644"
